
/*------------Add/Edit-------------*/
#add-panel {
	background: url("../images/carcrop.png");
	background-repeat: no-repeat;
	background-position: right;


}

h3 {
	font-family: 'Abel', sans-serif;
	color: #66ccff;
}

#steve-btn {
	font-family: 'Abel', sans-serif;
	font-size: 14px;
	color: #ffffff;
	background: linear-gradient(to bottom, #66ccff 0%, #0066ff 100%);
	
}

.addEditForm {
	margin: 15px;
	border: 2px;
	border-color: #FF9933;
}

input[type="text"] {
	padding-left: 20px;
	background: #000000;
	border-color: #FF9933;
	border-width: 2px;
}

/*Matches blue color of buttons
div {
    background: linear-gradient(to bottom, #66ccff 0%, #0066ff 100%);
}*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #000000;
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  transition: background-color 5000s ease-in-out 0s;
}