#logo {
	font-family: 'Geo', sans-serif;
	text-align: center;
	color: deepskyblue;
	text-shadow: 0px 0px 35px teal;
	font-size: 300%;
	padding: 10px;
}

#logo img {
	width: 50%;
}

#nav-pills {
	border: solid;
	border-color: deepskyblue;
	box-shadow: 0px 0px 25px aqua;
	margin-bottom: 30px;
	border-radius: 5px;
}

.nav-tabs {
	border: none;
}

.nav-tabs li a {
	color: white;
	font-family: 'Geo', sans-serif;
	font-size: 150%;
	border:none;
}

.nav-tabs li a:hover, .nav-tabs li a:active {
	background-color:transparent;
	border:none;
	text-shadow:1px 1px deepskyblue;
}

.panel-default {
	background: black;
	border-color: deepskyblue;
	box-shadow: 0px 0px 15px aqua;
	border-width: initial;
}