
/* =========== MAIN TASKS STYLING ==========

--------- TABLE OF CONTENTS -----------------
	General - divs, inherited style changes
	Maintasks
		Progressbar
		Container/Content Div
		Text
		Form
		Buttons
		Media Queries
*/

/* ========== GENERAL ============ */
.well {
	background-color: transparent;
	border:none;
	box-shadow: none;
}

/* =========== MAIN TASKS =========== */

/* ------------ PROGRESSBAR ------------- */
.semicircleprogressbar {
	width:100%;
	margin:0 auto;
}

/* ------------ CONTAINER/CONTENT DIV ------------- */
.maintasks-content {
	background: url("../images/well-bg.png") no-repeat;
	background-size: 100% 100%;
	border-radius: 35px;

	margin:2%;
}

.maintasks-div {
	width:90%;
	height:auto;
	margin:0 auto;
	margin-top:6%;
	margin-bottom:5%;
}

/* ------------ TEXT ------------- */
.maintasks-h1 {
	color: #ff9122;
	font-family: 'Audiowide', sans-serif;

	display:inline-block;
}

.maintasks-h3 {
	color: #ffffff;
	font-family: 'Audiowide', sans-serif;
	display:inline-block;
	font
}

/* ------------ FORM ------------- */
.add-maintask-container {
	margin-left: 100px;
	height:100px;
}

.maintasks-add-form {
	margin-left: 3%;
    height: 25px;
    width: 55%;
    display: inline-block;
    float: left;
    background-color: transparent;
    color: #66ccff;
    font-family: monospace;
}

.maintasks-add-form-h4 {
	font-family: 'Geo', sans-serif;
	font-size:24px;	
	color:#66ccff;
	display:inline-block;
	float:left;
}

.maintasks-add-form-input {
	margin-top:9px;
	margin-left:3%;
	height:25px;
	width:55%;
	display:inline-block;
	float:left;

	background-color:transparent;
	color:#66ccff;
	font-family: monospace;
}

/* ------------ BUTTONS ------------- */
.maintask-add-btn {
	display:inline-block;
	float:right;
	position:relative;
	right:0%;

	background-color:transparent;
	border-color: #65ff00;
	border-style:outset;
	border-width: 2px; 
	color: #65ff00;
	font-style:monospace;
	letter-spacing: 2px;
}

.maintask-add-btn:hover, .maintask-add-btn:active, maintask-add-btn:focus {
	border-color: #fff;
	border-style:inset;
	color:#fff;
	background-color: transparent;
}

maintask-delete:hover, maintask-delete:active, maintask-delete:focus {
	border-color: #fff;
	border-style:inset;
	color:#fff;
	background-color: transparent;
}

.maintask-delete {
	display: inline-block;
    float: right;
    position: relative;
    background-color: transparent;
    border-color: #ff0001;
    border-style: outset;
    border-width: 2px;
    color: #ff0001;
    font-style: monospace;
    letter-spacing: 2px;
}

/* ------------ MEDIA QUERIES ------------- */
@media screen and (max-width:1200px) {
	.maintasks-content {
		padding-bottom:20%;
	}

	.add-maintask-container {
		width:100%;
		margin:0 auto;
		margin-bottom:15%;
	}

	#newCategory {
		width:100%;
		margin-left:0%;
	}

	.maintask-add-btn {
		display:block;
		margin-top:5%;
		float:left;
	}
}