/* =========== MASTERLIST STYLING ==========

	Table of Contents
	-----------------
	General - divs, inherited style changes
	Masterlist
		Progressbar
		Content Div
		Buttons
		Text
		Media Queries
*/

/* ========== GENERAL ========== */

.panel {
	background-color: transparent;
}

.panel-body {
	border:none;
}

.nav-tabs {
	border-bottom:none;
}

/* ========== MASTERLIST ========== */

/* ----------- PROGRESSBAR ----------- */
div.progressbar {
	display:block;
	float:left;

	margin:0;
	margin-top:5%;
	padding:0;
	border:0;

	position:relative;
	left:4%;
}

/* ----------- CONTENT DIV ----------- */
.masterlist-content {
	display:block;
	height:300px;
	width:100%;

	background: transparent;
	border: none;
	background: url("../images/well-bg.png") no-repeat;
	background-size: 100% 100%;
	border-radius: 35px;
}

/* ----------- BUTTONS ----------- */
.masterlist-btn {
	display:inline-block;
	float:right;
	position:relative;
	left:5%;
	margin:3%;

	background-color:transparent;
	border-color: #00cbff;
	border-style:outset;
	border-width: 2px; 
	color: #00cbff;
	font-style:monospace;
	letter-spacing: 2px;
}

.masterlist-btn:hover, .masterlist-btn:active {
	border-color: #65ff00;
	border-style:inset;
	color:#65ff00;
	background-color: transparent;
}

/* ----------- TEXT ----------- */
.masterlist-h4 {
	display:inline-block;
	float:right;
	position:relative;
	right:4%;
	width:50%;

	color: #ff6a00;
	font-family: 'Audiowide', cursive;
	text-align:right;
	letter-spacing:2px;
	font-size:40px;
}

strong {
	float:right;
}

/* ----------- MEDIA QUERIES ----------- */
@media screen and (min-width:1202px) {
	.masterlist-btn {
		top:35%;
		left:45%;
	}
}

@media screen and (min-width:993px) and (max-width:1201px) {

	.masterlist-content {
		position:relative;
		display:block;
		height:400px;
	}

	.masterlist-h4 {
		display: block;
		position:relative;
		float:left;
		left:14%;
		right:0%;
		width:100%;

		font-size:35px;
		text-align:center;
		padding:4%;
	}

	strong {
		float:left;
	}

	.masterlist-btn {
		margin:0 35%;
		display:block;
		float:left;
	}

	div.progressbar {
		position:relative;
		left:35%;
		float:left;
		display:inline-block;

	}

}

@media screen and (min-width:675px) and (max-width:992px) {

	.masterlist-content {
		position:relative;
		display:block;
		height:400px;
	}

	.masterlist-h4 {
		display: block;
		position:relative;
		float:left;
		left:4%;
		right:0%;
		width:90%;
		margin:0 auto;

		font-size:30px;
		text-align:left;
		padding:6%;
	}

	strong {
		float:left;
	}

	.masterlist-btn {
		margin:0 35%;
		display:block;
		float:left;
	}

	div.progressbar {
		position:relative;
		left:24%;
		float:left;
		display:inline-block;

	}
}

@media screen and (min-width:455px) and (max-width:674px) {

	div.panel.panel-default,div#nav-pills, div#logo {
		width:100%;
		margin:auto 0;
	}

	div#nav-pills {
		margin-bottom:30px;
	}

	div#nav-pills a {
		float:left;
		margin:0;
		display:block;
		width:100%;
	}

	ul.nav.nav-tabs {
		margin:0 auto;
		padding:1%;
		width:100%;
	}

	.masterlist-content {
		position:relative;
		display:block;
		height:400px;
	}

	.masterlist-h4 {
		display: block;
		position:relative;
		float:left;
		left:2%;
		right:0%;
		width:100%;

		font-size:25px;
		text-align:center;
		padding:6%;
	}

	strong {
		float:left;
	}

	.masterlist-btn {
		margin:0 35%;
		display:block;
		float:left;
	}

	div.progressbar {
		position:relative;
		left:18%;
		float:left;
		display:inline-block;

	}

}

@media screen and (min-width:400px) and (max-width:454px) {

	div.panel.panel-default,div#nav-pills, div#logo {
		width:100%;
		margin:auto 0;
	}

	div#nav-pills {
		margin-bottom:30px;
	}

	div#nav-pills a {
		float:left;
		margin:0;
		display:block;
		width:100%;
	}

	ul.nav.nav-tabs {
		margin:0 auto;
		padding:1%;
		width:100%;
	}

	.masterlist-content {
		position:relative;
		display:block;
		height:400px;
		width:100%;

	}

	.masterlist-h4 {
		display: block;
		position:relative;
		float:left;
		left:0%;
		right:0%;
		width:auto;

		font-size:20px;
		text-align:center;
		padding:1%;
		margin-top:10%;
	}

	strong {
		float:left;
	}

	.masterlist-btn {
		margin:0 35%;
		display:block;
		float:left;
	}

	div.progressbar {
		position:relative;
		left:3%;
		float:left;
		display:block;
		height:50px;
		width:200px;

	}

}

@media screen and (max-width:399px) {
	div.panel.panel-default,div#nav-pills, div#logo {
		width:100%;
		margin:auto 0;
	}

	div#nav-pills {
		margin-bottom:30px;
	}

	div#nav-pills a {
		float:left;
		margin:0;
		display:block;
		width:100%;
	}

	ul.nav.nav-tabs {
		margin:0 auto;
		padding:1%;
		width:100%;
	}
	
	.container {
		overflow:hidden;
	}

	#logo {
		width:350px;
		padding:0;
		margin:0;
		border:0;
		float:left;
	}

	div#nav-pills {
		width:350px;
		overflow:hidden;
	}
	
	.nav-tabs {
		width:350px;
	}

	.nav-tabs li a {
		color: white;
		font-family: 'Geo', sans-serif;
		font-size: 150%;
	}

	.panel-default {
		width:350px;
	}

	.masterlist-content {
		position:relative;
		display:block;
		height:400px;
		width:300px;

		background: url("../images/well-bg.png") no-repeat;
		background-size: 304px 400px;
		border-radius: 30px;
		margin-left:1%;

	}

	.masterlist-h4 {
		display: block;
		position:relative;
		float:left;
		left:1%;
		right:1%;
		width:300px;

		font-size:19px;
		text-align:left;
		padding:1%;
		margin-top:15%;
		overflow-wrap:normal;
	}

	strong {
		float:left;
	}

	.masterlist-btn {
		position:relative;
		top:5%;
		left:0;
		margin:15% 0%;
		display:block;
		float:left;
	}

	div.progressbar {
		position:relative;
		margin-right:5%;
		float:left;
		display:inline-block;

	}

}