.print-qr-well {
	margin-top: 5%;
	background: url("../images/well-bg.png") no-repeat;
	background-size: 100% 100%;
	overflow: auto;
}

.print-qr-well h2 {
	text-align: center;
	color: deepskyblue;
	font-family: 'Audiowide', sans-serif;
	margin-bottom: 2%; 
}

@media screen and (min-width: 720px) and (max-width: 991px) {
	.print-qr-well h2 {
		font-size: 180%;
	}
}

@media screen and (max-width: 719px) {
	.print-qr-well h2 {
		font-size: 150%;
		margin-top: 6%;
	}
}

.print-qr {
	padding: 1%;
	float: right;
	background: #ffffff;
	margin-right: 2%;
	margin-bottom: 2%;
}

#back-print-btn {
	height: 500%;
	margin-left: 2%;
}

#print-qr-btn {
	background: #000000;
	font-family: 'Audiowide', sans-serif;
	border-style: outset;
	color: #00bfff;
	border-color: #00bfff;
	margin: 1%;
}

@media screen and (max-width: 588px) {
	#print-qr-btn {
		margin-bottom: 5%;
	}
}

#print-qr-btn:hover {
	background: #000000;
	font-family: 'Audiowide', sans-serif;
	border-style: inset;
	color: #ffffff;
	border-color: #ff9122;
}
